<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{app_00_0000}">Pikbook</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

    <!-- JS -->
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.13/vue.min.js"></script>

    <style type="text/css">
        body { padding-top: 70px; }
    </style>
</head>

<body>
<div class="container" layout:fragment="content">
<div id="js-home-picture-list">
	<div class="page-header">
        <h1 th:text="${name}">Test</h1>
	</div>
    <div class="row">
	    <div v-for="pic in pictures">
		    <div class="col-md-4">
		        <a href="#" class="thumbnail"><img :src="pic.url"></a>
		    </div>
	    </div>
    </div>
</div>
</div>

<div class="container" layout:fragment="javascript">
    <script th:src="@{/resources/js/home/script.js}"></script>
    <script th:inline="javascript">
    /*<![CDATA[*/
    ( function() {
        app.start();
    })();
    /*]]>*/
    </script>
</div>

</body>
</html>